<form [formGroup]="form">
  <div class="border">
    <div class="title">
      <h3>Asociar Contratos</h3>
    </div>
    <div class="form-grid3">
      <mat-form-field>
        <mat-label>Vigencia:</mat-label>
        <mat-select formControlName="vigencia">
          <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia.value">
            {{vigencia.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Consecutivo Contrato:</mat-label>
        <mat-select formControlName="cdp">
          <mat-option *ngFor="let cdp of cdps" [value]="cdp.value">
            {{cdp.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>
</form>
