<form [formGroup]="form">
  <div class="border">
    <div class="title">
      <h3>Asociar Contratos</h3>
    </div>
    <div class="form-grid3">
      <mat-form-field>
        <mat-label>Vigencia</mat-label>
        <mat-select formControlName="vigencia">
          <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia.value">
            {{vigencia.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Consecutivo</mat-label>
        <mat-select formControlName="consecutivo">
          <mat-option *ngFor="let cons of consecutivo" [value]="cons.value">
            {{cons.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <ng-container *ngIf="selectedContratoId">
      <app-datos-basicos></app-datos-basicos>
      <app-amparo-contrato [contratoId]="selectedContratoId"></app-amparo-contrato>
    </ng-container>
  </div>
</form>
