@import "./responsive/input-form-field.scss";

.fondo-acento-50 {
  background-color: var(--md-accent-50);
  padding: 15px;
  color: var(--md-accent-900);
  border-radius: 10px;
}

@media (max-width: 992px) {
  .mt-lg {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .center-md {
    display: flex;
    justify-content: center !important;
  }
}

@media (max-width: 576px) {
  .center-sm {
    display: flex;
    justify-content: center !important;
  }

  .width-100-sm {
    width: 100%;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.rounded-table {
  border: 1px solid #ddd;
  border-radius: 12px;
}

.table-scroll::-webkit-scrollbar {
  height: 8px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 4px;
}
