<form [formGroup]="form">
  <div class="border">
    <div class="title">
      <h3>Amparos del Contrato</h3>
    </div>
    <div class="form-grid1">
      <mat-form-field>
        <mat-label>Seleccionar Amparo</mat-label>
        <mat-select formControlName="amparoSeleccionado">
          <mat-option *ngFor="let amparo of amparosDisponibles" [value]="amparo.id">
            {{amparo.amparoNombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addAmparo()" [disabled]="!form.get('amparoSeleccionado')?.value">
        Agregar Amparo
      </button>

      <table mat-table [dataSource]="dataSource" class="amparos-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="amparo">
          <th mat-header-cell *matHeaderCellDef> AMPARO </th>
          <td mat-cell *matCellDef="let element">
            {{ element.amparoNombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipo_valor_amparo">
          <th mat-header-cell *matHeaderCellDef> TIPO </th>
          <td mat-cell *matCellDef="let element">
            {{ element.tipo_valor_amparo_id === 1 ? 'Porcentaje' : 'SMLV' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="suficiencia">
          <th mat-header-cell *matHeaderCellDef> SUFICIENCIA </th>
          <td mat-cell *matCellDef="let element">
            {{ element.suficiencia }}{{ element.tipo_valor_amparo_id === 1 ? '%' : ' SMLV' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> VALOR </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-form-field appearance="outline">
              <input matInput [formControl]="getFormControl(i, 'valor')" placeholder="Ingrese el valor"/>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="fecha_inicio">
          <th mat-header-cell *matHeaderCellDef> FECHA INICIAL </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-form-field appearance="outline">
              <input matInput [formControl]="getFormControl(i, 'fecha_inicio')" [matDatepicker]="pickerInicio" placeholder="DD/MM/YYYY">
              <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
              <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="fecha_final">
          <th mat-header-cell *matHeaderCellDef> FECHA FINAL </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-form-field appearance="outline">
              <input matInput [formControl]="getFormControl(i, 'fecha_final')" [matDatepicker]="pickerFinal" placeholder="DD/MM/YYYY">
              <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
              <mat-datepicker #pickerFinal></mat-datepicker>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button color="warn" (click)="removeAmparo(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</form>
